@import url("please-wait.css");

:root {
  --dark-color: #f1ebfd;
  --dark-background: #2f2f2f;
  --light-color: #0f0f0f;
  --light-background: #f1ebfd;

  --dark-title-color: #0f0f0f;
  --light-title-color: #d3d3d3;

  --display: #340496;
  --highlight: #8040ff;
  --box-shadow: #8040ff40;
  --highlight-pale: #eee9fa;
  --bold-color: #e72424;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--light-color);
  background-color: var(--light-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.title-bar {
  position: fixed;
  font-size: larger;
  font-weight: bold;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.25em 0.5em;
  color: var(--dark-title-color);
  background-color: var(--light-title-color);
  border-bottom: 2px solid var(--highlight);
  user-select: none;
  display: flex;
  align-items: center;
}

.title-bar-button {
  padding-top: 0.25em;
  margin-left: 0.25em;
}

.title-bar-button svg {
  stroke: var(--dark-title-color);
  fill: var(--dark-title-color);
  height: 1em;
  width: 1em;
}

.title-bar-button:hover {
  background: var(--highlight-pale);
}

.title-bar div.title {
  flex: content;
}

.container {
  margin: 0;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

select,
input,
button {
  border-radius: 8px;
  border: 1px solid var(--box-shadow);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--dark-background);
  background-color: var(--dark-color);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px var(--box-shadow);
  margin: 0.25em 0.5em;
}
input {
  flex: auto;
}
select {
  appearance: none;
}
button {
  cursor: pointer;
}

button:hover,
input:hover {
  border-color: var(--highlight);
}

button:active {
  border-color: var(--highlight);
  background-color: var(--highlight-pale);
}

input,
button {
  outline: none;
}

#prompt-display.bold {
  font-weight: bold;
  font-size: x-large;
  color: var(--bold-color);
}

#digest-display {
  overflow-wrap: anywhere;
  font-size: xx-large;
  line-height: 1;
  margin: 0.5em 1em;
}

#digest-file-display {
  overflow-wrap: anywhere;
  font-size: larger;
  margin: 0 1em;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--dark-color);
    background-color: var(--dark-background);
  }

  .title-bar {
    color: var(--light-title-color);
    background-color: var(--dark-title-color);
  }

  .title-bar-button svg {
    stroke: var(--light-title-color);
    fill: var(--light-title-color);
    height: 1em;
    width: 1em;
  }

  .title-bar-button:hover {
    background: var(--highlight);
  }

  button {
    color: var(--light-title-color);
    background-color: var(--dark-title-color);
    border: 1px solid var(--box-shadow);
  }

  button:active {
    background-color: var(--display);
  }
}